*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
}
html {
	--white: white; /* color: var(--white); */
}
img {
	display: block;
	max-width: 100%;
}
#id_sys_msg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 4px;
	text-align: center;
	background-color: white;
	z-index: 20;
	visibility: hidden;
}
.a2 {
	max-width: 720px;
	margin-top: 64px;
	margin-inline: auto;
	padding-inline: 8px;
}
.a3 {
	color: red;
}
.a4	{
	width: 100%;
	resize: vertical;
}
.m2 {margin-top: 2px;}
.m4 {margin-top: 4px;}
.m8 {margin-top: 8px;}
.m16 {margin-top: 16px;}
.m32 {margin-top: 32px;}
.m48 {margin-top: 48px;}
.m64 {margin-top: 64px;}
.m80 {margin-top: 80px;}
.m96 {margin-top: 96px;}