* {
	box-sizing: border-box;
	overflow-wrap: break-word;
}
body {
	margin: 0;
	font-family: sans-serif;
}
html {
	--primary: #8a2be2; /*or #631f9f */
	--primary20: #340c5a;
}
.h1 {
	background: var(--primary);
	color: white;
}
.h1 a {
	color: inherit;
	text-decoration: none;
}
.h1 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.h2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1024px;
	margin-inline: auto;
	padding-inline: 16px;
}
.h3 {
	font-size: 1.25rem;
	font-weight: bold;
}
.h4 {
	display: flex;
	gap: 16px;
}
.h4 a {
	display: inline-block;
	padding: 12px 8px;
	font-size: 1.125rem;
	font-weight: bold;
}
.c1 {
	max-width: 1024px;
	margin-inline: auto;
}
.c2 {
	position: relative;
}
.c3 {
	position: absolute;
	top: 16px;
	left: 16px;
	max-width: 360px;
}
.c4 {
	color: var(--primary20);
	font-size: 2rem;
	font-weight: bold;
}
.c4 p {
	margin: 0;
}
.c5 {
	margin-top: 16px;
	color: var(--primary20);
	font-size: 1.125rem;
	font-weight: bold;
}
.c5 a {
	color: inherit;
}
.c6 {
	margin-top: 32px;
}
.c7 {
	display: flex;
	gap: 32px;
	max-width: 720px;
	margin-inline: auto;
}
.c8 img {
	display: block;
	max-width: 300px;
}
.c9 {
	flex-grow: 1;
}
.c10 {
	font-size: 2rem;
	font-weight: bold;
}
.c11 {
	margin-top: 8px;
}
.c12 {
	text-align: right;
}
@media screen and (min-width: 1024px) {
	.c3 {
		top: 20%;
		left: 10%;
	}
	.c4 {
		font-size: 4rem;
	}
}