*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	background: hsl(0, 0%, 90%);
}
#idSysMsg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2px;
	text-align: center;
	background-color: white;
	z-index: 9;
	visibility: hidden;
}
.c1 {
	max-width: 768px;
	margin: 0 auto;
	background: white;
}
.c2 {
	display: flex;
	align-items: center;
	height: 100vh;
	padding: 0 8px;
}
.c3 {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50vh;
	border-radius: 1rem;
	background: lightgreen;
	font-size: 2rem;
	font-weight: bold;
}